.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.iphone {
  padding-top: 5px;
  padding-bottom: 0px;
}

.my-custom-center {
  margin-left: auto;
  margin-right: auto;
  display: block; /* Ensures it's displayed as a block element */
  max-width: 85%; /* Adjust this percentage to center it more precisely */
}

.dog-testimonial {
  border-radius: 50%;
}

#testimonial {
  background-color: #F5F7F8;
}

